@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To <br /> Course Management System</h1>
  
    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-md-12">
            <h3>Meet With Our Team Members</h3>
            <p>Mozammel Hoque Riad</p>
            <p>Mohammad Salman</p>
            <p>Fairoja Hoque</p>
            <p>Md Ali Akbar</p>
            <p>Md Kamrul Sarkar</p>
        </div>
    </div>
</div>
